* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Metropolis", sans-serif;
  background-color: #e9e9e9;
}
.text-logo {
  color: #db3022;
  font-family: "Metropolis", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 3px;
}
.gap-small {
  gap: 12px;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.has-search .form-control {
  align-items: center;
  justify-content: center;
  padding-left: 1.5rem;
  border-radius: 20px;
  width: 400px;
}
.form-search {
  margin-top: 15px;
}
.logo {
  width: 31.54px;
  margin-top: 10px;
  height: 44px;
}
.sort {
  margin-top: 15px;
  border-radius: 15px;
  width: 40px;
}
.shop-cart {
  border: 0;
  background-color: transparent;
  margin-top: 20px;
  margin-left: 20px;
}
.container-cst {
  margin: 0 10% 0 8%;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}
.container-body {
  margin: 0 auto;
  margin-top: 10%;
  max-width: 80%;
  justify-content: center;
}
.container-carousel {
  margin: 0 auto;
  max-width: 100%;
}
.btn-login {
  color: #fff;
  margin-top: 18px;
  margin-left: 20px;
  width: 90px;
  background-color: #db3022;
  border-color: s#db3022;
}
.btn-sign {
  color: rgb(100, 100, 100);
  margin-top: 18px;
  margin-right: 20px;
  width: 90px;
  background-color: transparent;
  border-color: #e9e9e9;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #8e8a8a;
}
.carousel-indicators {
  left: -95%;
  bottom: -12%;
}
@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}
.head-category {
  margin-top: 5%;
  font-family: "Metropolis", sans-serif;
}
.head-category h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 34px;
}
.head-category p {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
}
.card-price {
  color: #db3022;
}
.card-info {
  color: #8e8a8a;
}
.card-body {
  flex: 0 0 auto;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  padding: 1.25rem;
}
.btn-buy {
  display: flex;
  justify-content: center;
}
.column {
  float: left;
  height: 300px;
  padding: 10px;
}
.left {
  width: 70%;
}
.right {
  width: 30%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.card-left {
  position: absolute;
  width: 720px;
  height: 64px;
  left: 150px;
  top: 214px;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(115, 115, 115, 0.25);
  border-radius: 4px;
}
img {
  border-radius: 10%;
}
.font-metropolis {
  font-family: "Metropolis", sans-serif;
  font-style: normal;
}
p {
  font-size: 12px;
  font-style: normal;
  font-family: "Metropolis", sans-serif;
}
.checked {
  color: orange;
}
#colorpicker1 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
}
#colorpicker1::-webkit-color-swatch {
  border-radius: 50%;
}
#colorpicker1::-moz-color-swatch {
  border-radius: 50%;
}
